[DateFormats]
DATE_FORMATS = Day MM/DD/YYYY,DD MMMM YYYY,D MMMM YYYY,Day M/DD/YYYY,M/D/YYYY,DD-MM-YYYY,DD/MM/YYYY

[DateIdentifiers]
DATE_IDENTIFIERS = Sent:,Sent,Datum,Datum:,Vergaderdatum en -tijd,Uw brief d.d.:

[Languages]
LANGUAGES = En,Nl

[DateSearchRules]
SEARCH_ON_NEXT_LINE_AFTER = Datum,Sent

[ProcessingRules]
SEARCH_SUBFOLDERS = False
REDO = True

[DateValidation]
# years, adjust as needed
ALLOWED_YEARS = 2020,2021,2022,2023
